ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;	
}



.profile {
    width: 300px;
    height: 100%;
    padding-top: 20px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px 10px 10px 5px;
  color: black;
  background-color: rgba(255, 255, 255, 0.708)
}

.avatar {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    background-color: brown;
    border-radius: 50%;
}

.name {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

.text {
    font-family: sans-serif;
    text-align: center;
    color: #999;
    margin: 10px;
}

.stats {
  display: flex;
  background: #ddd;
  border-radius: 2px;
  overflow: hidden; /* щоб краї були округлі */
}

.stat {
  flex: 1; /* всі блоки однакові */
  text-align: center;
  padding: 16px 0;
  border-right: 2px solid #999;
  border-top: 2px solid #999;
}

.stat:last-child {
  border-right: none;
}

.label {
    font-family: sans-serif;
  display: block;
  font-size: 16px;
  margin-bottom: 6px;
}

.value {
font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}