.container {
    display: flex;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    width: 75px;
}