.table {
    margin-top: 15px;
    margin-left: 5px;
  width: 500px;
  border-collapse: collapse;

  background-color: rgb(85, 85, 85);
  text-align: center;

  box-shadow: var(--shadow-small);
}

.thead {
  color: white;
  background-color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.td {
  padding: 2px;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(3, 3, 3);
  
}

.th {
  padding: 2px;
  border: 1px solid gray;
  color: white;
}

.tr {
  &:nth-of-type(odd) {
    background-color: rgb(253, 255, 255);
  }
}